html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: #615dad;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: #ffffff;
  min-width: 320px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  max-width: 25rem;
}

.main-picture {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #283e50;
  width: 100%;
}

.pravidla {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}
.list-style {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

.container-button {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pravidla-button,
.zacit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3.1rem;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.pravidla-button {
  background-color: #1fcca4;
  border-bottom: 0.5px solid black;
}

.pravidla-button:hover {
  background-color: #1cbb96;
}

.zacit-button {
  background-color: #0197f6;
}

.zacit-button:hover {
  background-color: #0090e9;
}

ol {
  margin-top: 0;
}

.circle-style,
.cross-style {
  filter: invert(100);
  width: 1em;
  height: 1em;
}

.photo-instrcutions-container {
}

.photo-figure {
  margin: 1.8rem;
}

.photo-instruction {
  width: 100%;
}

.photo-figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0.8;
  text-align: center;
  margin-top: 0.5rem;
}
