html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background-color: #615dad;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: #ffffff;
  min-width: 320px;
  margin: 0;
}

/* Home page styles */

.main-content-container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  max-width: 25rem;
}

.main-picture {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
}

.game-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #283e50;
  width: 100%;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 2rem 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}

.list-style {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

.main-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Specific styles for Rules page */

.rules {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rules-button,
.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 3.1rem;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.rules-button {
  background-color: #1fcca4;
  border-bottom: 0.5px solid black;
}

.rules-button:hover,
.rules-button:focus {
  background-color: #1cbb96;
}

.start-button {
  background-color: #0197f6;
}

.start-button:hover,
.start-button:focus {
  background-color: #0090e9;
}

ol {
  margin: 0 1.1rem 1.5rem;
}

.circle-style,
.cross-style {
  filter: invert(100);
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.1em;
}

.photo-instrcutions-container {
  padding: 0 1.8rem;
}

.photo-figure {
  margin: 0;
  margin-bottom: 1.8rem;
}

.photo-instruction {
  width: 100%;
}

.photo-figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  opacity: 0.8;
  text-align: center;
  margin-top: 0.5rem;
}

/* Specific styles for Game page*/

.game-main-container {
  max-width: 80vmin;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.game-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.game-navigation-buttons {
  display: flex;
}

.navigation-icons {
  margin-left: 0.5rem;
}

.home-icon,
.restart-icon {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.home-icon {
  background-color: #1fcca4;
}

.home-icon:hover,
.home-icon:focus {
  background-color: #1cbb96;
}

.restart-icon {
  background-color: #0197f6;
}
.restart-icon:hover,
.restart-icon:focus {
  background-color: #0090e9;
}

.game-buttons-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.game-buttons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  outline: 1px solid black;
  background-image: linear-gradient(#c5b6d8, #f4d7e6);
  background-repeat: no-repeat;
}

.single-game-button {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  background-color: transparent;
}

.single-game-button:hover,
.single-game-button:focus {
  background-color: #c9c0de;
}

/* Circle & cross on the game page styles */

.field-circle {
  background-image: url('img/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

.field-cross {
  background-image: url('img/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  animation-name: gradual-growth;
  animation-duration: 0.15s;
}

.active-player {
  filter: invert(100);
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.1em;
}

@keyframes gradual-growth {
  0% {
    background-size: 0%;
  }
  100% {
    background-size: 60%;
  }
}

/* Media queries for responsiveness */

@media (min-width: 768px) {
  .rules-container {
    max-width: 50rem;
  }

  .photo-instrcutions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-figure {
    width: calc(50% - 1rem);
  }

  .photo-figcaption {
    font-size: 1rem;
  }

  .list-style {
    font-size: 1rem;
  }

  ol {
    margin: 0 2rem 2rem;
  }
}
