html {
  min-height: 100%;
  background-color: #615dad;
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  color: #ffffff;
  min-width: 364px;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.picture {
  width: 364px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #283e50;
  width: 364px;
}

.description {
  font-family: Arial, Arial, Helvetica, sans-serif;
  padding: 0 2rem 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}

.pravidla-button,
.zacit-button {
  border: none;
  width: 364px;
  min-height: 50px;
  color: inherit;
  font-size: 1rem;
  cursor: pointer;
  outline: inherit;
}

.pravidla-button {
  background-color: #1fcca4;
  border-bottom: 0.5px solid black;
}

.pravidla-button:hover {
  background-color: #1cbb96;
}

.zacit-button {
  background-color: #0197f6;
}

.zacit-button:hover {
  background-color: #0090e9;
}
